/* Fonts */
/*==============*/
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Sarabun');



/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }


body {
	font-family: Roboto;
	font-size: 1.1rem;
	color: black;
	background-color: #abd4ef;
}

a {
	font-style: normal;
	text-decoration: underline;
	color: black;
}
#main-wrapper {
	max-width: 100%;
	margin: 20px auto;
	font-family: Sarabun;
	background-color: #abd4ef;
	color: black;
	margin-bottom: 0px;
}a:link{
    color:black;
}
a:visited{
    color:black;
}

#header {
	margin-bottom: 10px;
}


/* .clr { clear: both; } */
.centered { text-align: center; }
.hidden  { 
	display: none; 
	pointer-events: none;
}
sup { 
	vertical-align: text-top;
	font-size: smaller;
}



/* Text
============================ */

h1 {
	font-size: 2main.2rem;
	font-style: uppercase;
	margin: 0 0 6px 0px;
	font-family: Bungee;
	text-align: center;
	max-width: 80%;
	margin: auto;
	padding-top: 20px;
}
h4 {
	font-size: 1.3rem;
	font-style: uppercase;
	margin: 0 0 6px 0px;
	font-family: Bungee;
	text-align: center;
	max-width: 800px;
	margin: auto;
	padding-bottom: 5px;  
}


h2 {
	font-size: 1.8rem;
	font-style: uppercase;
	font-family: Bungee;
	padding-top:10px;
	color: #abd4ef;
	text-align: center;
	margin-bottom: .5rem;
}
h6 {
	font-size: 3rem;
	font-style: uppercase;
	font-family: Bungee Shade;
	padding-top:10px;
	color: black;
	text-align: center;
	margin: auto;
	margin-bottom: .5rem;
}
h3 {
	font-size: 1.8em;
	font-style: uppercase;
	margin-bottom: .5rem;
	padding-top: 10px;
	font-family: Bungee;
	color: black;
	text-align: center;
}
p, ul, li {
	margin-bottom: .5em;
	max-width: 55%;
	display: block;
	margin: auto;
	line-height: 1.2em;
}
h5 {font-size: 1.8em;
	font-style: uppercase;
	margin-bottom: .5rem;
	padding-top: 10px;
	font-family: Bungee;
	color: tomato;
	text-align: center;
}

hr {
	max-width: 10%;
}


.desc {
	font-style: italic;
	font-size: 1em;
	line-height: 1.4em;
}
.section1 {
    background-color: white;
}

.section1 p {
	color: black;
}
/*.section1 a {
		color: #ffffff;
	}
	a:visited {
		color: #ffffff;
	}*/
.section1 a:link{
    color:black;
}
.section1 a:visited{
    color:black;
}

.section3 p {
	color: black;
}
.section3 a:link{
    color: black;
}
.section3 a:visited{
    color: black;
}

/* Controls
============================ */

#obstacles, #my_dataviz, #grid-container {
	max-width: 800px;
	margin: auto;
}

#update {
	margin: 20px auto;
	max-width: 800px;
}

.buttons {
	margin: auto;
}

/*#grid-container {
	display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1px;
}
.grid-item {
	display: block;
	padding: 0px;
	margin: 0px 0px;
	max-width: 50%;
}
*/

#percentages {
	max-width: 690px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.button {
	/* min-width: 15em; */
	height: 1.8em; 
	line-height: 1.8em;
	padding: 2px;
	margin-top: 6px;
	cursor: pointer;
	text-align: center;
	font-size: .7rem;
	border: 2px solid #e0e0e0;
	-moz-border-radius: 10px;
	border-radius: 2px;
	background: #f7f6f1;
	font-family: Bungee;
}
	#spaceFiller {
		width: 218px;
		height: 1px; 
	}
.button:hover {
	background: #e0e0e0;
}
.button.current {
	background: #c9a111;
	color: #262520;
}



/*bar chart multiples*/
.some-page-wrapper {
  display: flex;
  margin: 5px;
  max-width: 90%;
  max-height: 25%;
  margin-right: 10%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.bold {
	font-family: Bungee;
	font-weight: bold;
	font-size: 1rem;
}

.italic {
	font-style: italic;
}
/* ul.a {
  list-style-type: circle;
} */

.h3title {
	font-size: 0.8rem;
	font-family: Bungee;
	padding-bottom: 10px;
}

.title_dek {
	min-height: 100%;
	min-width: 100%;
	height: 100%;
	width: 100%;
}
.main-title {
	font-size: 4.5rem;
	margin-top: 2rem;
	padding-bottom: 2.2rem;
	height:100%;
}

#four {
	max-width: 200%;
}

.article-date {
	font-size: .9rem;
}

.face {
  height: 13rem;
  -webkit-animation: face-spin 3.5s infinite linear;
	-moz-animation: face-spin 3.5s infinite linear;
	animation: face-spin 3.5s infinite linear;
	display: block;
	position: relative;
}

.face1 {
  -webkit-animation: face-spin 13s infinite linear;
	-moz-animation: face-spin 13s infinite linear;
	animation: face-spin 13s infinite linear;
	display: block;
	position: relative;
}

@keyframes face-spin {
  0%   {
    transform:rotate(-360deg);
  }

}

.homepage {
	font-family: Bungee Shade;
	text-decoration: none;
	padding-bottom: 0px;
	padding-right: 4px;
	margin-top: 8%;
	line-height: 0;
	font-size: 3rem;
	width:fit-content; 
	width:-webkit-fit-content; 
	width:-moz-fit-content;
	border: 1px olive;
	border-left: 3px olive;
	border-bottom: 3px olive;
	color: black;
}

a.homepage {
	color: black;
	padding-bottom: 12px;
	margin-bottom: 12px;
}

b{font-weight:bold;}

g.tick line {
	opacity: .1;
}

path.domain {
	opacity:0;
}	

header {
	/* background-color: rgb(0, 70, 67); */
	/* background-color: antiquewhite; */
	background-color: #abd4ef;
    color: black;
    /* padding-bottom: 10%;
    padding-top: 5%; */
}

header a {
	color: white;
	text-decoration: underline;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}


section {
    padding-top: 1%;
    padding-bottom: 4%;
}

.section-header {
	padding-bottom: 30px;
}

#table {
	padding: 5%;
}

.tooltip{
  position:absolute;
  bottom: 0;
  right: 0;
  }

ul.facts {
	padding-left: 25%;
	max-width: 100%;
}

li.fact {
	display: list-item;
	/*list-style-type: circle;*/ 
	margin-left: 0px;	
	padding-bottom: 15px;
}

ul.facts1 {
	color: black;
	padding-left: 25%;
	max-width: 100%;
}


.uline {
	text-decoration: underline;
}

.strike {
	text-decoration: line-through;
}

.tab {
	padding-left: 5%;
	list-style-type: circle;
	list-style-position: inside;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

.section-intro {
	padding-bottom: 0px;
	/* background-repeat: repeat-y; */
}

h4.author a {
	color: black;
}
	a:visited {
		color: black;
	}

h4.subauthor{
	font-size: 0.8rem;
}

.fact .uline {
	font-family: Bungee;
	font-size: 1.2rem;
	text-decoration: none;
}

@media screen and (max-width: 1100px) {
	.main-title {
		font-size: 3rem;
		margin-top: 7%;
	}
	/*.face {
		height: 6rem;
	}*/
	.face {
  height: 10rem;
  width: 10rem;
  -webkit-animation: face-spin 3.5s infinite linear;
	-moz-animation: face-spin 3.5s infinite linear;
	animation: face-spin 3.5s infinite linear;
	display: block;
	position: relative;
}
	.table {
		max-width: 85%;
	}

	.table th, td {
		font-size: .5rem;
	}
	p {
		font-size: 17px;
		max-width: 85%;
	}

	li, ul {
		font-size: 17px;
		max-width: 95%;
	}

	h1 {
		font-size: 3rem;
	}

	/*img {
		max-width: 95%;
		height: 400px;
		width: 400px;
	}*/

	.center {
		margin-right: auto;
		max-width: 90%;
		width: 50%;	
		/*max-height: 300px;*/
	}

	.fact .uline {
		font-size: 1rem;
	}

	ul.facts {
		padding-left: 10%;
		max-width: 100%;
	}

		ul.facts1 {
		padding-left: 10%;
		max-width: 100%;
	}

	.main-title {
	font-size: 3.2rem;
	margin-top: 1.6rem;
	height:100%;
	/*-webkit-text-stroke: 3px #a9d5ba;*/
}
}


@media screen and (max-width: 900px) {
	.tick {
		font-family: Bungee;
		font-size: 0.7em;
	}

/*	.face {
		height: 6rem;
	}*/
	.face {
  height: 6rem;
  width: 6rem;
  -webkit-animation: face-spin 3.5s infinite linear;
	-moz-animation: face-spin 3.5s infinite linear;
	animation: face-spin 3.5s infinite linear;
	display: block;
	position: relative;
}
	.table {
		max-width: 85%;
	}

	.table th, td {
		font-size: .5rem;
	}
	p {
		font-size: 1rem;
		max-width: 85%;
	}

	li, ul {
		font-size: 17px;
		max-width: 95%;
	}


	h1 {
		font-size: 2rem;
	}

	img {
		max-width: 80%;
	}

	.center {
		margin-right: auto;
		max-width: 80%;
		width: 85%;	
		max-height: 300px;
	}

	.fact .uline {
		font-size: 1rem;
	}

	ul.facts {
		padding-left: 10%;
		max-width: 100%;
	}

	.main-title {
		font-size: 2rem;
		max-width: 90%;
		margin-top: 2rem;
		height:100%;
	/*	-webkit-text-stroke: 3px #a9d5ba;*/
	}
}



/* Controls
============================ */

#obstacles,
#grid-container {
    max-width: 10%;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
}

#my_dataviz {
    width: 100%;
}

#my_interactivedatavis {
    /*position:;*/
    margin-left: -10%;
    max-width: 50%;
    overflow-wrap: normal;
    /*padding:auto;*/

}

}

#update {
    margin: 20px auto;
    max-width: 800px;
}

.buttons {
    margin: auto;
}

/*#grid-container {
	display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1px;
}
.grid-item {
	display: block;
	padding: 0px;
	margin: 0px 0px;
	max-width: 50%;
}
*/

#percentages {
    max-width: 690px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.button {
    min-width: 15em;
    height: 1.8em;
    line-height: 1.8em;
    padding: 2px;
    margin-top: 6px;
    cursor: pointer;
    text-align: center;
    font-size: .7rem;
    border: 2px solid #e0e0e0;
    -moz-border-radius: 10px;
    border-radius: 2px;
    background: #abd4ef;
    font-family: Bungee;
}

#spaceFiller {
    width: 180px;
    height: 1px;
    /*padding-left:20px;*/
}

.button:hover {
    background: black;
    color: #abd4ef;
}

.button.current {
    background: black;
    color: #abd4ef;

}


/* Chart
============================ */

#totalcnt {
    margin: 20px 0 30px 0;
}

#totalcnt #n {
    font-size: 3.0em;
}

#charts {
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    /*max-width: 750;*/
    margin: auto;
}

.chartholder h3 {
    height: 1.2em;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
}

.genericholder{
	padding-left: 2%;
	padding-right: 2%;
}


.tick {
    font-family: Bungee;
    font-size: .9rem;
    overflow-wrap: normal;

}



/*#chart text {*/
/*fill: black;*/
/*font-size: 1rem;*/
/*text-anchor: end;*/


.axis text {
    font: 3em;
}

.axis path,
.axis line {
    fill: none;
    /*stroke: #fff;*/
    shape-rendering: crispEdges;
}

/*body {*/
/*background: #1a1a1a;*/
/*color: #eaeaea;*/
/*padding: 10px;*/
/*}*/

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}


.tooltip {
    position: absolute;
    bottom: 0;
    right: 0;
}

.y-axis path.domain {
    opacity: 0;
}


/*Table*/
/*=================*/
.table {
    max-width: 70%;
    margin: auto;
    overflow-x: auto;
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-family: Bungee;
    font-weight: 1;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: auto;
    font-size: .7rem;
}

th {
    padding: 4px;
    border-bottom: 5px solid #d0d0d0;
    text-align: right;
    font-family: Bungee;
    font-size: .8rem;
}

td {
    padding: 4px;
    border-bottom: 1px solid #d0d0d0;
    text-align: right;
    font-size: .7rem;
}

.left {
    text-align: left;
}

.x-axis {
    font-size: .5rem;
}

.listimg{
	
	width: 20%;
}

/*bar chart multiples*/
.some-page-wrapper {
    display: flex;
    margin: 5px;
    max-width: 90%;
    max-height: 25%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

b {
    font-family: Changa;
    font-weight: bolder !important;
}

b.loud {
    font-size: 1.8rem;
    text-align: center;
    margin: auto;
    /*margin-left: 4rem;*/
    color: green;
}

.italic {
    font-style: italic;
}

ul.a {
    list-style-type: circle;
}

.h3title {
    font-size: 0.8rem;
    font-family: Bungee;
    padding-bottom: 15px;

}



.title_dek {
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
}

.main-title {
    font-size: 5rem;
    margin-top: 2rem;
    height: 100%;
}

#four {
    max-width: 200%;
}

.article-date {
    font-size: .9rem;
}

p,
ul,
li {
    font-family: Changa;
    padding-top: 0.5rem;
    /*font-size:1.5rem;*/
}

img {
    max-width: 90%;
}

li.fact{
	line-height: 1.4rem;
	/*color: green;*/
	font-size: 1.1em;
}

select {
    font-size: 1rem;
}

g {
    /*max-width:50%;*/
}


.face2 {
    max-width: 20%;
}


.homepage {
    font-family: Bungee Shade;
    text-decoration: none;
    padding-bottom: 0px;
    padding-right: 4px;
    margin-top: 8%;
    color: black;
    line-height: 0;
    font-size: 2.1rem;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    border: 1px solid black;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    color: black;
}

g {
    /*width:10%;*/
    padding-right: 50%;
    margin-right: 50%;
}

g.tick text {
    overflow-wrap: normal;
    font-size: 0.9rem;
}

@media screen and (max-width: 900px) {
    #whiteflannelbg {
        background-color: rgba(255, 255, 255, 0.9);
        margin-top: 4%;
        margin-left: 3%;
        margin-right: 3%;

        opacity: 100%;
    }


.centergif{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

    .inline{
	width: 100%;
	padding-left: 0%;
	float: left;
}

.chartholder h3 {
    height: 1em;
    font-size: 1em;
    text-align: center;
    padding-left: 4%;
    padding-right: 4%;
}


		
h4{
	font-size: 0.5rem;
}

		li {
    margin-bottom: .5em;
    max-width: 100%;
    display: block;
    margin: auto;
    line-height: 1.4em;
}


    g.tick {
        /*font-family: Inconsolata;*/
        text-transform: uppercase;
        font-size: 1rem;
        overflow-wrap: break-word;

    }

    .button {
        min-width: 40%;
        max-width: 40%;
        height: 1.8em;
        line-height: 1.8em;
        padding: 2px;
        margin-top: 6px;
        cursor: pointer;
        text-align: center;
        font-size: .55rem;
        border: 2px solid #e0e0e0;
        -moz-border-radius: 10px;
        border-radius: 2px;
        font-family: Bungee;
    }

    #spaceFiller {
        display: none;
        width: 0px;
        height: 1px;
        /*padding-left:20px;*/
    }


    #my_interactivedatavis {
        margin-left: 0%;
        margin-right: 5%;
        width: 90%;
        overflow-wrap: break-word;
        /*padding:auto;*/

    }

    .intro {
        margin: 5%;
    }

    .right {
        float: right;
        display: inline-block;
        max-width: 40%;
    }

    .face2 {
        max-width: 40%;
        /*padding-bottom: 2%;*/
    }

    .main-title {
        font-size: 3rem;
        margin-top: 7%;
    }

    .face {
        height: 6rem;
    }

    .table {
        max-width: 85%;
    }

    p {
        font-size: 0.8em;
        max-width: 95%;
    }

    p.quote{
    	font-size: 0.7em;

    }

    ul {}

    h1 {
        font-size: 2rem;

    }

    g.tick text {
        width: 5px;
        overflow-wrap: normal;
        font-size: .9rem;
    }
}

#my_datavis {
    display: flex;
    margin: auto;
    justify-content: center;
    max-width: 80%;
}

#y-axis-force .domain {
    opacity: 0;
}


#y-axis-force .tick {
    opacity: 0.8;
    stroke-width: 2;
}

text.trick-name {
    font-family: Bungee;
    stroke-linejoin: round;
    text-anchor: middle;
    stroke: black;
    paint-order: stroke fill;
    fill: rgb(248, 209, 6);
    stroke-width: 3px;
    pointer-events: none;
  }


