@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
margin:0;
padding:0;
}

body {
    font-family: Bungee;
    /* background-color: #004643; */
}

a, a:visited {
  color: #f9bc60;
  text-decoration: underline;
}

a.homepage {
    color: #f9bc60;
}

header {
  background-color: #004643;
  color: #f9bc60;
  padding-bottom: 10%;
  padding-top: 5%;
  /* max-width: 60%; */
}

img {
  height: 35px;
}

h6 {
    color: #abd1c6;
}

input, button, select, textarea {
  font-family: Bungee;
}

p {
  font-family: Roboto; 
  font-size: 1.3rem;
  line-height: 1.25em;
  max-width: 50%;
  color: #abd1c6;
}

th {
  border-bottom: 5px solid pink;
  font-size: .85rem;
}

td {
  border-bottom: 1px solid pink;
  font-size: .7rem;
}

.tick {
  opacity: 0;
}

.title {
  font-size: 8rem;
  line-height: 8rem;
  padding: 2rem;
  color: #f9bc60;
  /* background-color: rgb(189, 247, 189); */
  /* color: rgb(223, 103, 123); */
}

.subtitle {
    color: #f9bc60;
    padding: 2%;
}

.authors {
    font-family: Arial;
    padding-bottom: 1%;
    font-size: .8rem;
}

/* Mobile Stuff */
@media screen and (max-width: 900px) {
  .main-text {
    max-width: 98%;
  }

  .title {
    font-size: 4rem;
    max-width: 100%;
    margin-top: 5%;
    line-height: 4rem;
  }
}

.section1 {
    padding-top: 5%;
    background-color: #abd1c6;
    color: #001e1d;
}

.section1 p {
    color: #001e1d;
}

.section2 {
    background-color: antiquewhite;
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
}

h2 {
    margin: 0px;
}