/* Fonts */
/*==============*/
@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');
@import url('https://fonts.googleapis.com/css?family=Bungee+Outline');
@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400, 700');
@import url('https://fonts.googleapis.com/css?family=Goldman:400,700');
@import url('https://fonts.googleapis.com/css?family=Changa:400,700');


#whiteflannelbg {
  background-color: rgba(255,255,255,0.9);
  margin-top:4%;
  margin-left: 12%;
  margin-right:12%;
 
  opacity: 100%;
}

{-webkit-font-smoothing: antialiased;}

.qna {
  text-align: left;
  margin-left: 3%;
  margin-right: 3%;
  display: block;
  line-height: 500pt;
}

p.quote {
  font-size: 0.6em;
  margin-left: 7%;
  margin-right: 5%;
  
}

.videonumbers {
  text-align: left;
  margin-left: 7%;
  margin-right: 5%;
  display: block;
  line-height: 500pt;
}

.whiteflannelbg {
  position: relative;
  text-align: center;
  /*color: white;*/
}


body {
	font-family: Roboto;
	color: #262520;
	background-image: url(marbg.jpg);
  	background-repeat: repeat;
  	background-size:100%;
}

.goth {
font-family: Bungee;
}

a {
	font-style: normal;
	text-decoration: underline;
	color: #000;
}


#main-wrapper {
	max-width: 100%;
	margin: 20px auto;
}

#header {
	margin-bottom: 10px;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}



/* .clr { clear: both; } */
.centered { text-align: center; }
.hidden  { 
	display: none; 
	pointer-events: none;
}
sup { 
	vertical-align: text-top;
	text-align: center;
}

/* Text
============================ */


h1 {
	font-size: 2.2rem;
	font-style: uppercase;
	font-family: Bungee;
	text-align: center;
	max-width: 600px;
	margin:auto;
	
}

h4 {
	font-size: .8rem;
	font-style: uppercase;
	margin: 0 0 6px 0px;
	font-family: Bungee;
	text-align: center;
	max-width: 800px;
	margin: auto;
	/*color: grey;*/
}
h2 {
	font-size: 0.9rem;

	margin-left:15%;
	margin-right:22%;

	text-align: left;
	font-weight: normal;
	
}



h5 {
	font-size: 14px;
	max-width: 85%
	padding-top:10px;
	font-family: Inconsolata;
	text-align: left;
	/*margin-bottom: .5rem;*/
	margin-left:15%;
	margin-right:15%;
	font-weight: 800;
	line-height: normal;
}
h6 {
	font-size: 1rem;
	padding-top:10px;
	text-align: center;
	margin-bottom: .5rem;
	font-weight: bold;
}
h3 {
	font-size: 1.1em;
	/*padding: 3px 0px 5px 0;*/
	
	font-style: normal;
	padding: -1000;
    margin: 0;
    text-align:center;
    position:inline-block;
	/*margin-top: 10px;*/
	font-family: Bungee;
}
p, li {
	margin-bottom: .5em;
	max-width: 75%;
	display: block;
	margin: auto;
	line-height: 1.4em;
}

br {
        line-height: 150%;
        
     }


hr {
	max-width: 20%;
}

.desc {
	font-style: italic;
	font-size: 1em;
	line-height: 1.4em;
}


/* Controls
============================ */

#obstacles, #my_dataviz, #grid-container {
	max-width: 50%;
	margin-left: 10px;
	padding-bottom: 0;
	margin-bottom: 0;
}

#update {
	margin: 20px auto;
	max-width: 800px;
}

.buttons {
	margin: auto;
}

/*#grid-container {
	display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1px;
}
.grid-item {
	display: block;
	padding: 0px;
	margin: 0px 0px;
	max-width: 50%;
}
*/

#percentages {
	max-width: 690px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.button {
	min-width: 15em;
	height: 1.8em; 
	line-height: 1.8em;
	padding: 2px;
	margin-top: 6px;
	cursor: pointer;
	text-align: center;
	font-size: .7rem;
	border: 2px solid #e0e0e0;
	-moz-border-radius: 10px;
	border-radius: 2px;
	background: rgb(240,255,240);
	font-family: Bungee;
}
	#spaceFiller {
		width: 218px;
		height: 1px; 
	}
.button:hover {
	background: rgb(255,182,193);
}
.button.current {
	background: rgb(255,182,193);
	color: black;
}


/* Chart
============================ */

#totalcnt {
	margin: 20px 0 30px 0;
}
#totalcnt #n {
	font-size: 3.0em;
}
#charts {
	/* position: relative; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 20px;
	max-width: 750px;
	margin: auto;
}
	.chartholder h3 {
		height: 1.2em;
		text-align: center;
		width: 89%;
	}


.tick {
	font-family: Bungee;
	font-size: .9rem;

}




.tooltip{
  position:absolute;
  bottom: 0;
  right: 0;
  }

.y-axis path.domain {
	opacity: 0;
}


/*Table*/
/*=================*/
.table {
	max-width: 70%;
	margin: auto;
	overflow-x:auto;
	padding-top: 1rem;
	padding-bottom: 3rem;
	font-family: Bungee;
	font-weight: 1;
}
	table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		margin: auto;
		font-size: .7rem;
	}
		th {
			padding: 4px;
			border-bottom: 5px solid #d0d0d0;
			text-align: right;
			font-family: Bungee;
			font-size: .8rem;
		}
		td {
			padding: 4px;
			border-bottom: 1px solid #d0d0d0;
			text-align: right;
			font-size: .7rem;
		}

.left {
	text-align: left;
}

.x-axis {
	font-size: .5rem;
}

/*bar chart multiples*/
.some-page-wrapper {
  display: flex;
  margin: 5px;
  max-width: 90%;
  max-height: 25%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
b {
	font-family: Roboto;
	font-weight: bolder !important ;
}

b.loud
{
	font-size: 1.8rem;
	text-align: center;
	margin: auto;
	padding-left: 4rem;
}

.italic {
	font-style: italic;
}
ul.a {
  list-style-type: circle;
}

.h3title {
	font-size: 0.8rem;
	font-family: Bungee;
	padding-bottom: 15px;

}



.title_dek {
	min-height: 100%;
	min-width: 100%;
	height: 100%;
	width: 100%;
}
.main-title {
	font-size: 4rem;
	margin-top: 2rem;
	height:100%;
}

#four {
	max-width: 200%;
}

.article-date {
	font-size: .9rem;
}

p, ul, li {
	font-family: Roboto;
	padding-top: 0.5rem;
}

img{
	/*max-width:90%;*/
}

select{
font-size: 1rem;
}

.face {
  /*animation: face-spin infinite 2s linear;*/
  height: 10rem;
  /*margin-left: 20px;*/
  /*margin-bottom: 10px;*/
  -webkit-animation: face-spin 4s infinite linear;
	-moz-animation: face-spin 4s infinite linear;
	animation: face-spin 4s infinite linear;
	display: block;
	position: relative;
	/*top: 7px;                  */
	/*left: calc(50% + 20px);    */
}

.face2 {
	width:25%;
}

@keyframes face-spin {
  0%   {
    transform:rotate(-360deg);
  }

}

.homepage {
	font-family: Bungee Shade;
	text-decoration: none;
	padding-bottom: 0px;
	padding-right: 4px;
	margin-top: 8%;
	color: black;
	line-height: 0;
	font-size: 2.1rem;
	width:fit-content; 
	width:-webkit-fit-content; 
	width:-moz-fit-content;
	border: 1px solid black;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	color: black;
}

g.tick text
	{
	font-size: .7rem;
	}

@media screen and (max-width: 900px) {
	#whiteflannelbg {
  background-color: rgba(255,255,255,0.0);
  margin-top:4%;
  margin-left: 3%;
  margin-right:3%;
 
  opacity: 100%;
}

	.main-title {
		font-size: 3rem;
		margin-top: 7%;
	}
	.face {
		height: 6rem;
	}
	.table {
		max-width: 85%;
	}
	p {
		font-size: 0.8rem;
		max-width: 95%;
	}

	iframe {max-width:80%;

	}

	ul {

	}

	h1 {
		font-size: 2.6rem;

	}
	g.tick text
	{
	font-size: .4rem;
	}
}



